doctype html
//if IE 8
  html.ie8(lang='en')  
//if IE 9
  html.ie9(lang='en')  
// [if !IE] <!
|  
html(lang='en')
  // <![endif]

  // BEGIN HEAD
  head
    meta(charset='utf-8')
    title 实习数据微信提交系统 | 温州大学
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    meta(content='', name='description')
    meta(content='', name='author')

    // BEGIN GLOBAL MANDATORY STYLES
    link(href='/media/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/media/css/bootstrap-responsive.min.css', rel='stylesheet', type='text/css')
    link(href='/media/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='/media/css/style-metro.css', rel='stylesheet', type='text/css')
    link(href='/media/css/style.css', rel='stylesheet', type='text/css')
    link(href='/media/css/style-responsive.css', rel='stylesheet', type='text/css')
    link#style_color(href='/media/css/default.css', rel='stylesheet', type='text/css')
    link(href='/media/css/uniform.default.css', rel='stylesheet', type='text/css')
    // END GLOBAL MANDATORY STYLES

    link(href='/media/css/select2_metro.css', rel='stylesheet', type='text/css')
    link(href='/media/css/chosen.css', rel='stylesheet', type='text/css')
    link(rel='shortcut icon', href='media/image/favicon.ico')
  // END HEAD
  
  // BEGIN BODY
  body.page-header-fixed.page-full-width
    
    // BEGIN HEADER
    .header.navbar.navbar-inverse.navbar-fixed-top
      // BEGIN TOP NAVIGATION BAR
      .navbar-inner
        .container-fluid
          // BEGIN LOGO
          a.brand(href='index.html')
            img(src='/media/image/logo2.jpg', alt='logo')
          // END LOGO
      // END TOP NAVIGATION BAR
    // END HEADER
    
    // BEGIN CONTAINER
    .page-container.row-fluid

      // BEGIN PAGE
      .page-content

        .container-fluid

          .row-fluid

            .span2.sidebar-content

              block PAGESIDEBAR
              

            .span10
              .row-fluid
                .span12

                  block PAGEHEADER

              block PAGECONTENT

    // BEGIN FOOTER
    .footer
      .footer-inner
        | 2015 &copy; Hanqtech WZU.

      .footer-tools
        span.go-top
          i.icon-angle-up
    // END FOOTER

    // BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time)
    // BEGIN CORE PLUGINS
    script(src='/media/js/jquery-1.10.1.min.js', type='text/javascript')
    script(src='/media/js/jquery-migrate-1.2.1.min.js', type='text/javascript')
    // IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip
    script(src='/media/js/jquery-ui-1.10.1.custom.min.js', type='text/javascript')
    script(src='/media/js/bootstrap.min.js', type='text/javascript')
    //if lt IE 9
      script(src='/media/js/excanvas.min.js')
      script(src='/media/js/respond.min.js')
    script(src='/media/js/jquery.slimscroll.min.js', type='text/javascript')
    script(src='/media/js/jquery.blockui.min.js', type='text/javascript')
    script(src='/media/js/jquery.cookie.min.js', type='text/javascript')
    script(src='/media/js/jquery.uniform.min.js', type='text/javascript')
    // END CORE PLUGINS
    script(src='/media/js/jquery.validate.min.js', type='text/javascript')
    script(src='/media/js/additional-methods.min.js', type='text/javascript')
    script(src='/media/js/jquery.bootstrap.wizard.min.js', type='text/javascript')
    script(src='/media/js/chosen.jquery.min.js', type='text/javascript')
    script(src='/media/js/select2.min.js', type='text/javascript')
    script(src='/media/js/app.js')
    script(src='/media/js/date.js')
    script(src='/media/js/bootstrap-datetimepicker.js')
    script(src='/media/js/jquery.inputmask.bundle.min.js')
    script(src='/media/js/form-components.js')
    //script(src='/media/js/form-wizard.js')
    script(src='/javascripts/formvalidate.js')
    script(src='/javascripts/pagesidebar.js')
    script(src='/javascripts/modalevent.js')
    script.
      jQuery(document).ready(function() {
      App.init();
      FormComponents.init();
      //FormWizard.init();
      });
    // END JAVASCRIPTS

  // END BODY
