doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title
      | WIS | &#25552;&#20132;&#27880;&#20876;&#20449;&#24687;
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="")
    // BEGIN GLOBAL MANDATORY STYLES
    link(type="text/css", rel="stylesheet", href="/media/css/bootstrap.min.css")
    link(type="text/css", rel="stylesheet", href="/media/css/bootstrap-responsive.min.css")
    link(type="text/css", rel="stylesheet", href="/media/css/font-awesome.min.css")
    link(type="text/css", rel="stylesheet", href="/media/css/style-metro.css")
    link(type="text/css", rel="stylesheet", href="/media/css/style.css")
    link(type="text/css", rel="stylesheet", href="/media/css/style-responsive.css")
    link#style_color(type="text/css", rel="stylesheet", href="/media/css/default.css")
    // END GLOBAL MANDATORY STYLES
    link(href="/media/image/favicon.ico", rel="shortcut icon")
  body.page-header-fixed.page-full-width
    // BEGIN HEADER
    .header.navbar.navbar-inverse.navbar-fixed-top
      // BEGIN TOP NAVIGATION BAR
      .navbar-inner
        .container-fluid
          // BEGIN LOGO
          a.brand(href="index.html")
            img(alt="logo", src="/media/image/logo.png")
          // END LOGO
      // END TOP NAVIGATION BAR
    // END HEADER
    // BEGIN CONTAINER
    .page-container.row-fluid
      // BEGIN PAGE
      .page-content
        .container-fluid
          .row-fluid
            .span12
              .row-fluid
                .span12
                  h3.page-title
                    | &#22635;&#20889;&#27880;&#20876;&#20449;&#24687;
                    small
                      | &#35831;&#27880;&#24847;&#65292;&#23398;&#29983;&#23398;&#21495;&#26159;&#21807;&#19968;&#30340;&#30331;&#24405;&#21517;&#65292;&#30331;&#24405;&#23494;&#30721;&#40664;&#35748;&#20026;&#25163;&#26426;&#21495;&#65292;&#30331;&#24405;&#21518;&#21487;&#20462;&#25913;
              // BEGIN PAGE CONTENT
              .row-fluid
                .span12
                  .row-fluid
                    .span12
                      // BEGIN SAMPLE FORM PORTLET
                      .portlet.box.blue.tabbable
                        .portlet-title
                          .caption
                            i.icon-reorder
                            span.hidden-480 &#27880;&#20876;&#20449;&#24687;
                        .portlet-body.form
                          .tabbable.portlet-tabs
                            ul.nav.nav-tabs
                              li
                              li
                              li
                                a(data-toggle="tab", href="#portlet_tab1")
                                  | Default
                            .tab-content
                              #portlet_tab1.tab-pane.active
                                // BEGIN FORM
                                form#mySysInfoform.form-horizontal(novalidate="validated", method="post", action="/studentsubscribe")
                                  .control-group
                                    label.control-label &#23398;&#21495;
                                    .controls
                                      input.m-wrap.small(type="text", name="stunumber", placeholder="请输入学号")
                                      span.help-inline &#23398;&#21495;&#26159;&#30331;&#24405;&#29992;&#25143;&#21517;&#65292;&#35831;&#20934;&#30830;&#22635;&#20889;&#65292;&#23494;&#30721;&#40664;&#35748;&#20026;&#25163;&#26426;&#21495;
                                  .control-group
                                    label.control-label 请选择项目名称
                                    .controls
                                      select.m-wrap.small(name="selectedPrjName")
                                        if(prjNames)
                                          each prj, i in prjNames
                                            option(value="#{prj}") #{prj}
                                      span.help-inline 请选择当前您所属的项目名称
                                  .form-actions.clearfix
                                    input(type="hidden", value="#{weixin_id}", name="weixinid")
                                    button.btn.blue.button-submit(style="display: inline-block;", type="submit")
                                      i.icon-ok
                                      | &#27880;&#20876;
    // BEGIN FOOTER
    .footer
      .footer-inner
        | 2015 &#169; Hanqtech WZU.
      .footer-tools
        span.go-top
          i.icon-angle-up
    // END FOOTER
    // BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time)
    // BEGIN CORE PLUGINS
    script(type="text/javascript", src="/media/js/jquery-1.10.1.min.js")
    // IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip
    script(type="text/javascript", src="/media/js/bootstrap.min.js")
    //if lt IE 9
      script(src="/media/js/excanvas.min.js")
      script(src="/media/js/respond.min.js")
    // END CORE PLUGINS
    script(src="/media/js/app.js")
    // script(src='/media/js/form-wizard.js')
    script
      jQuery(document).ready(function() {
      App.init();
      //FormWizard.init();
      });
    // END JAVASCRIPTS
