extends layout

extends tutor_page_sidebarheader


block PAGECONTENT

  // BEGIN PAGE CONTENT
  .row-fluid
    .span12
      | #{msg}
  // END PAGE CONTENT

  div
    script setTimeout("location.href='#{newpage}';", #{timeout});

  
