body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1096px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1096px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:72px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:72px;
}
#u2 {
  position:absolute;
  left:2px;
  top:13px;
  width:636px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:72px;
  width:320px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:48px;
}
#u4 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:320px;
  top:72px;
  width:320px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:48px;
}
#u6 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:20px;
  top:4px;
  width:64px;
  height:64px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u8 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:120px;
  width:640px;
  height:976px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:976px;
}
#u10 {
  position:absolute;
  left:2px;
  top:480px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:270px;
  top:450px;
  width:100px;
  height:100px;
  opacity:0;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u12 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:420px;
  top:450px;
  width:100px;
  height:100px;
  opacity:0;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u14 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:180px;
  top:580px;
  width:100px;
  height:100px;
  opacity:0;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u16 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:10px;
  top:740px;
  width:100px;
  height:100px;
  opacity:0;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u18 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:220px;
  top:980px;
  width:100px;
  height:100px;
  opacity:0;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u20 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:20px;
  top:112px;
  width:280px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:3px;
  width:280px;
  height:5px;
}
