body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:57px;
  width:120px;
  height:50px;
  opacity:0;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:130px;
  width:640px;
  height:1006px;
  opacity:0;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1006px;
}
#u5 {
  position:absolute;
  left:2px;
  top:495px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:187px;
  top:817px;
  width:193px;
  height:37px;
  opacity:0.5;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
