body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:1060px;
  width:140px;
  height:70px;
  opacity:0;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:70px;
}
#u3 {
  position:absolute;
  left:2px;
  top:27px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:170px;
  top:1060px;
  width:140px;
  height:70px;
  opacity:0;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:70px;
}
#u5 {
  position:absolute;
  left:2px;
  top:27px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:483px;
  top:1060px;
  width:140px;
  height:70px;
  opacity:0;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:70px;
}
#u7 {
  position:absolute;
  left:2px;
  top:27px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:260px;
  width:160px;
  height:240px;
  opacity:0;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:240px;
}
#u9 {
  position:absolute;
  left:2px;
  top:112px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:180px;
  top:180px;
  width:440px;
  height:870px;
  opacity:0;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:870px;
}
#u11 {
  position:absolute;
  left:2px;
  top:427px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:16px;
  top:44px;
  width:70px;
  height:60px;
  opacity:0;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
