body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:1050px;
  width:140px;
  height:70px;
  opacity:0;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:70px;
}
#u3 {
  position:absolute;
  left:2px;
  top:27px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:333px;
  top:1050px;
  width:140px;
  height:70px;
  opacity:0;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:70px;
}
#u5 {
  position:absolute;
  left:2px;
  top:27px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:483px;
  top:1050px;
  width:140px;
  height:70px;
  opacity:0;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:70px;
}
#u7 {
  position:absolute;
  left:2px;
  top:27px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:294px;
  top:488px;
  width:50px;
  height:50px;
  opacity:0;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:440px;
  top:492px;
  width:50px;
  height:50px;
  opacity:0;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:208px;
  top:600px;
  width:50px;
  height:50px;
  opacity:0;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:36px;
  top:748px;
  width:50px;
  height:50px;
  opacity:0;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:237px;
  top:962px;
  width:50px;
  height:50px;
  opacity:0;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:16px;
  top:44px;
  width:70px;
  height:60px;
  opacity:0;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
