body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1096px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1096px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:72px;
  width:640px;
  height:1024px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1024px;
}
#u2 {
  position:absolute;
  left:2px;
  top:504px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:72px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:72px;
}
#u4 {
  position:absolute;
  left:2px;
  top:28px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:20px;
  top:92px;
  width:140px;
  height:190px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:190px;
}
#u6 {
  position:absolute;
  left:2px;
  top:87px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:480px;
  top:92px;
  width:140px;
  height:190px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:190px;
}
#u8 {
  position:absolute;
  left:2px;
  top:87px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:172px;
  top:92px;
  width:140px;
  height:190px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:190px;
}
#u10 {
  position:absolute;
  left:2px;
  top:87px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:328px;
  top:92px;
  width:140px;
  height:190px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:190px;
}
#u12 {
  position:absolute;
  left:2px;
  top:87px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:20px;
  top:300px;
  width:600px;
  height:360px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:360px;
}
#u14 {
  position:absolute;
  left:2px;
  top:172px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:20px;
  top:680px;
  width:292px;
  height:400px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:400px;
}
#u16 {
  position:absolute;
  left:2px;
  top:192px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:328px;
  top:680px;
  width:292px;
  height:190px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:190px;
}
#u18 {
  position:absolute;
  left:2px;
  top:87px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:328px;
  top:890px;
  width:292px;
  height:190px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:190px;
}
#u20 {
  position:absolute;
  left:2px;
  top:87px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:410px;
  top:711px;
  width:128px;
  height:128px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u22 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:410px;
  top:921px;
  width:128px;
  height:128px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u24 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:58px;
  top:245px;
  width:65px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:210px;
  top:245px;
  width:65px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:366px;
  top:245px;
  width:65px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:518px;
  top:245px;
  width:65px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:426px;
  top:833px;
  width:97px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:41px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:426px;
  top:1043px;
  width:97px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:41px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:556px;
  top:4px;
  width:64px;
  height:64px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u38 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:20px;
  top:4px;
  width:64px;
  height:64px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u40 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:280px;
  top:14px;
  width:107px;
  height:38px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:38px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:20px;
  top:680px;
  width:292px;
  height:400px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:400px;
}
#u44 {
  position:absolute;
  left:2px;
  top:192px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:38px;
  top:1043px;
  width:257px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:41px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:20px;
  top:300px;
  width:600px;
  height:360px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:360px;
}
#u48 {
  position:absolute;
  left:2px;
  top:172px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:224px;
  top:623px;
  width:193px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:41px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:26px;
  top:123px;
  width:128px;
  height:128px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u52 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:178px;
  top:123px;
  width:128px;
  height:128px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u54 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:334px;
  top:123px;
  width:128px;
  height:128px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u56 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:486px;
  top:123px;
  width:128px;
  height:128px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u58 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
